.loginDiv{
    align-items:center;
    text-align:center;
    color:white;
    background-color: #78e261;
    border-bottom: 40px #73634c groove;
    border-radius:40%;
    width:25%;
    padding:30px;
    margin:auto;
    outline:white 5px dotted;    
}
