.parentLayer{
    position:relative;
    z-index:1;
}

.childLayer{
position:absolute;
top: 0;
left: 0;
z-index:2;
}

/* Landscape tablets, etc*/
@media only screen and (min-width:768px){
   
    #mapWrapper{
    width:100%;
    height:auto;
    }
    
    .mapImg{
    width: 100%;
    height:auto;
    /* margin-top:-5vw; */
    /* margin-left:-22rem; */ /*bring back once menu no longer needed*/
    }
    
    /*This ONLY works with a standard 1920x1080p monitor resolution, no scaling -- will 
    need to incorporate breakpoints based on monitor size and change accordingly*/
    .svgContainer{
    position:fixed;
    width:65%;
    height:65%;
    z-index:6;
    }

    svg{
    width:75%;
    }
}

/* Laptops, smaller desktops, etc*/
@media only screen and (min-width:992px){
    #mapWrapper{
        width:1000px;
        height:auto;
    }
        
    .mapImg{
        width: 100%;
        height:auto;
        /* margin-top:-5vw; */
        /* margin-left:-22rem; */ /*bring back once menu no longer needed*/
    }

    .svgContainer{
        position:relative;
        width:440%;
        height:100%;
        z-index:6;
    }

    svg{
        width:75%;
    }
}
/* Large laptops, desktops, etc*/
@media only screen and (min-width:1200px){
   
    #mapWrapper{
    width:100%;
    height:100%;
    }
    
    .mapImg{
    width: 100%;
    height:auto;
    /* margin-top:-5vw; */
    /* margin-left:-22rem; */ /*bring back once menu no longer needed*/
    }
    #mapWrapper{
        width:1420px;
        height:auto;
    }
    
    .mapImg{
        width: 100%;
        height:auto;
        /* margin-top:-5vw; */
        /* margin-left:-22rem; */ /*bring back once menu no longer needed*/
    }
    
    .svgContainer{
        position:relative;
        width:630%;
        height:auto;
        z-index:6;
    }

    svg{
        width:75%;
    }
}
/* Bigger screens*/
@media only screen and (min-width:1365px){
   
    #mapWrapper{
    width:100%;
    height:auto;
    }
    
    .mapImg{
    width: 100%;
    height:auto;
    /* margin-top:-5vw; */
    /* margin-left:-22rem; */ /*bring back once menu no longer needed*/
    }
    
    .svgContainer{
        position:relative;
        width:480%;
        height:auto;
        z-index:6;
    }

    svg{
        width:85%;
    }
}

/* Really long screens*/
@media only screen and (min-width:1500px){
    #mapWrapper{
        width:85%;
        height:auto;
    }
    
    .mapImg{
        width: 100%;
        height:auto;
        /* margin-top:-5vw; */
        /* margin-left:-22rem; */ /*bring back once menu no longer needed*/
    }
    .svgContainer{
        position:relative;
        width:530%;
        height:auto;
        z-index:6;
    }

    svg{
        width:95%;
    }
}